<ion-content scroll="false" ng-controller="AboutCtrl">
  <div class="padding about-text_about">
    <p>This is the official mobile app for the SYMPHONIA.IO project.</p>
    <p>The application was created as a practical part of the bachelor thesis of Maroš Šeleng at Faculty of Informatics,
    Masaryk university, Brno, Czech Republic.</p>
    <p>Application's source code is available at the GitHub repository of the Symphonia.io project.</p>
  </div>
  <div class="buttons-group_main">
    <button class="button button-flat" ui-sref="main">
      <i class="raleway-bold primary-color icon-left ion-android-cancel"> BACK</i>
    </button>
  </div>
</ion-content>
