<!DOCTYPE html>
<ion-content class="banner-background" scroll="false">
  <div class="raleway-bold title">
    <p>SYMPHONIA.IO</p>
  </div>

  <div class="my-buttons">
    <button class="button button-flat button-centered" ui-sref="options">
      <i class="raleway-bold secondary-color icon-left ion-camera"> TAKE A PICTURE</i>
    </button>
    <button class="button button-flat button-centered">
      <i class="raleway-bold secondary-color icon-left ion-upload"> UPLOAD</i>
    </button>
    <button class="button button-flat button-centered">
      <i class="raleway-bold secondary-color icon-left ion-information-circled"> ABOUT THE APP</i>
    </button>
  </div>
</ion-content>
