<ion-content scroll="false" ng-controller="OptionsCtrl">
  <div class="image-thumbnail_options">
    <img ng-src="{{data.imageData}}"/>
  </div>

  <div class="list format-radio_options">
    <div class="checkbox-label_options">
      <p>Select output file format</p>
    </div>
    <ion-radio ng-repeat="item in outputFormatList"
               ng-value="item.value"
               ng-model="data.outputFormat">
      {{ item.text }}
    </ion-radio>
  </div>

  <div class="buttons-group_options">
    <button class="button button-flat" ng-click="show()">
      <i class="icon-left ion-checkmark-circled"> CONTINUE</i>
    </button>
    <button class="button button-flat" ui-sref="main">
      <i class="icon-left ion-android-cancel"> CANCEL</i>
    </button>
  </div>
</ion-content>
