<!DOCTYPE html>
<ion-content class="secondary-color-background" scroll="false" ng-controller="OptionsCtrl">
  <img ng-src="{{data.imageData}}" class="uploaded-image-thumbnail"/>

  <div class="list raleway-medium output-format-checkbox">
    <div>
      <p class="primary-color">Select output file format</p>
    </div>
    <ion-radio ng-repeat="item in outputFormatList"
               ng-value="item.value"
               ng-model="data.outputFormat">
      {{ item.text }}
    </ion-radio>
  </div>

  <div class="my-buttons-options">
    <button class="button button-flat" ng-click="show()">
      <i class="raleway-bold primary-color icon-left ion-checkmark-circled"> CONTINUE</i>
    </button>
    <button class="button button-flat" ui-sref="main">
      <i class="raleway-bold primary-color icon-left ion-android-cancel"> CANCEL</i>
    </button>
  </div>
</ion-content>
